@import 'mixins';

.img {
	@include position-absolute($bottom: 0, $left: 0);

	width: 100%;
	height: 100%;

	z-index: -1;

	img {
		@include position-absolute($bottom: -92px, $left: -24px);

		width: auto;
		max-width: 120%;
	}
}

.isDisabled {
	opacity: .5;
}
