section.feed-packs.section
    .container
        .section__inner

            //section title
            header.section__header
                h1.section__title Ты сегодня покормил кота?

            //section content
            .section__content.feed-packs__content

                // single feed type
                .feed-pack.feed-packs__elem

                    //feed type description card
                    .feed-pack__card.card.card--angled
                        .feed-pack__content

                            .feed-pack__suptitle
                                p Сказочное заморское яство

                            h2.feed-pack__title Нямушка
                                span.feed-type__subtitle с фуа-гра

                            ul.feed-pack__features
                                li.feed-type__feature
                                    strong 10
                                    | порций
                                li.feed-type__feature мышь в подарок

                            .feed-pack__weight
                                span.feed-pack__weight-kg 0
                                span.feed-pack__weight-g 5
                                span.feed-pack__weight-units кг

                    //feed type order info
                    .feed-type__info

