section.feed-types.section
    .container
        .section__inner

            // section title
            header.section__header
                h1.section__title Ты сегодня покормил кота?

            //section content
            .section__content.feed-types__content

                // single feed type
                .feed-type.feed-types__elem
                    .card.card--angled

