section.feed-types.section
    .container
        .section__inner

            //section title
            header.section__header
                h1.section__title Ты сегодня покормил кота?

            //section content
            .section__content.feed-types__content

                // single feed type
                article.feed-type.feed-types__elem

                    //feed type description card
                    .feed-type__card.card.card--angled

                        .feed-type__suptitle
                            p Сказочное заморское яство

                        h2.feed-type__title Нямушка
                            span.feed-type__subtitle с фуа-гра

                        ul.feed-type__features
                            li.feed-type__feature
                                strong 10
                                | порций
                            li.feed-type__feature мышь в подарок

                    //feed type order info
                    .feed-type__info

