section.feed-packs.section
    .container
        .section__inner

            //section title
            header.section__header
                h1.section__title Ты сегодня покормил кота?

            //section content
            .section__content.feed-packs__content

                //single feed pack
                include feed-packs/feed-pack-1
