article.feed-pack.feed-packs__elem(data-pack-disabled="disabled")

    //feed type description card
    .feed-pack__card.card.card--angled
        .feed-pack__content.card__inner.card__inner--angled

            .feed-pack__suptitle
                p Сказочное заморское яство

            h2.feed-pack__title Нямушка
            p.feed-pack__subtitle
                | с
                span.feed-pack__type курой

            ul.feed-pack__features
                li.feed-pack__feature
                    strong 100
                    | порций
                li.feed-pack__feature
                    strong 5
                    | мышей в подарок
                li.feed-pack__feature заказчик доволен

            .feed-pack__img
                img(src="./assets/img/cat.png" alt="Фотография пушистого кота в ошейнике")

            .feed-pack__weight
                span.feed-pack__weight-kg 5
                span.feed-pack__weight-units кг

    //feed pack order info
    .feed-pack__info

        //is visible by default
        .feed-pack__order-cta
            p
                | Чего сидишь? Порадуй котэ,
                button.feed-pack__order-btn(type="button")
                    span купи
                    | .

        //is visible if pack is picked
        .feed-pack__picked-info
            p Филе из цыплят с трюфелями в бульоне.

        //is visible if pack is disabled
        .feed-pack__disabled-info
            p
                | Печалька, с
                span.feed-pack__type курой
                | закончился.
