html(lang="en")
    head
        include includes/setup/head

    body.page

        .page__inner

            // ____________ FEED PACKS SECTION ____________
            include includes/blocks/feed-packs
