$card-border-offset: 4px;
$card-border-radius: 12px;
$card-bg-color: $bg-color--primary;

.card {
	position: relative;

	background-color: $card-bg-color;
	border-radius: $card-border-radius;

	cursor: pointer;
	z-index: 1;
}

.card--angled {
	background-color: transparent;
	border: none;

	&:before {
		@include position-absolute($top: 0, $left: 0);

		display: block;
		height: 100%;
		width: 100%;

		content: '';

		border-radius: inherit;

		z-index: -2;
	}
}

.card__inner--angled {
	@include position-absolute($top: $card-border-offset, $left: $card-border-offset);

	height: calc(100% - 2 * #{$card-border-offset});
	width: calc(100% - 2 * #{$card-border-offset});

	background:
					linear-gradient(135deg, transparent 30px, $card-bg-color 0),
					0 0,
					no-repeat;
	border-radius: $card-border-radius * .75;

	overflow: hidden;
	z-index: -1;
}
