.feed-packs__content {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
}

.feed-packs__elem {
	width: 100%;
	max-width: 320px;
	margin: 0 0 20px;

	@media (min-width: $mobile-width) {
		margin: 0 20px 20px;
	}
}
