.feed-pack__card {
	position: relative;

	min-height: 480px;
}

.feed-pack__content {
	padding: 20px 10px 10px 47px;

	box-sizing: border-box;
}

.feed-pack__suptitle {

	p {
		margin: 0;
	}
}

.feed-pack__suptitle {
	font: {
		size: $font-size--sm;
	}
	color: $font-color--secondary;
}

.feed-pack__title {
	margin: 5px 0 0;

	font: {
		size: $font-size--xxl;
		weight: $font-weight--bold;
	}
}

.feed-pack__img {
	@include position-absolute($bottom: 0, $left: 0);

	width: 100%;
	height: 100%;

	z-index: -1;

	img {
		@include position-absolute($bottom: -92px, $left: -24px);

		width: auto;
		max-width: 120%;
	}
}

