$card-accent--default: $bg-color--accent-1;

.feed-pack__card {
	position: relative;

	min-height: 480px;

	&:before {
		background:
						linear-gradient(135deg, transparent 32px, $card-accent--default 0),
						0 0,
						no-repeat;
	}
}

.feed-pack__content {
	padding: 20px 10px 10px 47px;

	box-sizing: border-box;
}

.feed-pack__suptitle {

	p {
		margin: 0;
	}
}

.feed-pack__suptitle {
	font: {
		size: $font-size--sm;
	}
	color: $font-color--secondary;
}

.feed-pack__title {
	margin: 5px 0 0;

	font: {
		size: $font-size--xxl;
		weight: $font-weight--bold;
	}
}

.feed-pack__subtitle {
	margin: 0 0 0;

	font: {
		size: $font-size--md-2;
		weight: $font-weight--bold;
	}
}

.feed-pack__type {

	&:before,
	&:after {
		content: ' ';
	}
}

.feed-pack__features {
	padding: 0;

	color: $font-color--secondary;

	list-style-type: none;
}

.feed-pack__feature {

	strong {

		&:after {
			content: ' ';
		}
	}
}

.feed-pack__img {
	@include position-absolute($bottom: 0, $left: 0);

	width: 100%;
	height: 100%;

	z-index: -1;

	img {
		@include position-absolute($bottom: -92px, $left: -24px);

		width: auto;
		max-width: 120%;
	}
}

.feed-pack__weight {
	@include position-absolute($bottom: 10px, $right: 10px);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 80px;
	height: 80px;

	color: $font-color--light;
	text-align: center;

	background-color: $card-accent--default;
	border-radius: 50%;

	box-sizing: border-box;
}

.feed-pack__weight-kg,
.feed-pack__weight-g {
	margin-bottom: -19px;

	font: {
		size: $font-size--xl-2;
	}
	line-height: 1;
}

.feed-pack__weight-g {

	&:before {
		content: ',';
	}
}

.feed-pack__weight-units {
	width: 100%;

	font: {
		size: $font-size--md-2 * .95;
	}
	line-height: 1;
}

