.page {
	display: flex;

	background-image:
					linear-gradient(to top, $bg-color--dark, rgba($bg-color--dark, 0.01), $bg-color--dark),
					url("../assets/img/page-bg.jpg");
	background-repeat: no-repeat, repeat;
	background-position: 0 0, 0 0;
	background-size: 100% 100%, auto;
}

.page__inner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
	min-height: 100vh; // IE11 workaround
}
