// *** FONTS IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

// *** FONT VARIATIONS

// font families
$font-family--primary: 'Trebuchet MS', sans-serif;
$font-family--accent: 'Exo 2', sans-serif;

// font weights
$font-weight--thin: 100;
$font-weight--primary: 400;
$font-weight--bold: 700;

// font sizes
$font-size--primary: 14px;
$font-size--xs: .928rem;
$font-size--sm: 1.142rem;
$font-size--md: 1.3125rem;
$font-size--md-2: 1.714rem;
$font-size--xl: 2.571rem;
$font-size--xl-2: 3rem;
$font-size--xxl: 3.428rem;

$line-height--primary: 1.14;
