@import "colors";

.card {
	position: relative;

	min-height: 480px;

	&:before {
		background:
						linear-gradient(135deg, transparent 32px, $card-accent--default 0),
						0 0,
						no-repeat;
	}

	&:hover {

		.card_weight {
			background-color: $card-accent--default-hover;
		}
	}
}

.isPicked {
	&:before {
		background: linear-gradient(135deg, transparent 32px, $card-accent--picked 0),
		0 0,
		no-repeat;
	}

	//&:not(.js-no-hover):hover {
	//	.weight {
	//		background-color: $card-accent--picked-hover;
	//	}
	//}
	//
	//&.js-no-hover:hover {
	//	.weight {
	//		background-color: $card-accent--picked;
	//	}
	//}

	.card_weight {
		background-color: $card-accent--picked;
	}
}

.isDisabled {
	cursor: not-allowed;

	&:before {
		background:
						linear-gradient(135deg, transparent 32px, $bg-color--disabled 0),
						0 0,
						no-repeat;
	}

	&:hover {
		.card_weight {
			background-color: $bg-color--disabled;
		}
	}

	.card_weight {
		background-color: $bg-color--disabled;
	}
}

.content {
	padding: 20px 10px 10px 47px;

	box-sizing: border-box;
}
