@import "../../node_modules/normalize-scss/sass/normalize/import-now";

// *** SETUP IMPORTS
@import "partials/setup/colors";
@import "partials/setup/typography";
//@import "partials/setup/media-q";
@import "partials/setup/mixins";
//@import "partials/setup/global-styles";
