@import "../../node_modules/normalize-scss/sass/normalize/import-now";

// *** SETUP IMPORTS
@import "partials/setup/colors";
@import "partials/setup/typography";
@import "partials/setup/media-q";
@import "partials/setup/mixins";
@import "partials/setup/global-styles";

// *** BLOCKS IMPORTS
@import "partials/blocks/card";
@import "partials/blocks/container";
@import "partials/blocks/feed-pack";
@import "partials/blocks/feed-packs";
@import "partials/blocks/page";
@import "partials/blocks/section";
