// *** DESCRIPTIVE COLORS !!! DO NOT USE THEM DIRECTLY
$_black: #000;

$_water-blue: #1698d9;

$_light-grey: #b3b3b3;
$_brownish-grey: #666;

$_lipstick-pink: #d91667;

$_white: #fff;
$_white-smoke: #f2f2f2;

$_canary-yellow: #ffff66;

// *** FUNCTIONAL COLOR SCHEME !!! USE IT IN THE CODE
$bg-color--primary: $_white-smoke;
$bg-color--dark: $_black;
$bg-color--accent-1: $_water-blue;
$bg-color--accent-2: $_lipstick-pink;
$bg-color--disabled: $_light-grey;

$font-color--primary: $_black;
$font-color--secondary: $_brownish-grey;
$font-color--light: $_white;
$font-color--accent-1: $_water-blue;
$font-color--accent-2: $_canary-yellow;
$font-color--disabled: $_light-grey;

$card-accent--default: $bg-color--accent-1;
$card-accent--default-hover: lighten($bg-color--accent-1, 7%);

$card-accent--picked: $bg-color--accent-2;
$card-accent--picked-hover: lighten($bg-color--accent-2, 7%);
